  <div class = "container px-5 px-sm-0">
    <div class ="row">

     <div class = "col-md-3">
      <%= render 'users/list2', user: @user %>
      <%= render 'books/list', book: @book %>
     </div>



<div class = "col-md-8 offset-md-1">



<div class="col-md-8 offset-md-1">
      <h2>Books</h2>
      <table class="table table-hover table-inverse">
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>


   <% @books.each do |books|%>
   <tr>
    <td>
        <%= link_to user_path(books.user.id) do %>
        <%= image_tag books.user.get_profile_image(100, 100) %>
        <% end %>
        </td>

    <td>
    <%= link_to book_path(books.id) do %>
    <%= books.title %>
    <% end %>
    </td>

    <td><%= books.body %></td>

    <% if books.favorited_by?(current_user) %>
    <td>
      <%= link_to book_favorites_path(books), method: :delete do %>
      <i class="fas fa-heart"></i><%= books.favorites.count %>
      <% end %>
    </td>
    <% else %>
    <td>
      <%= link_to book_favorites_path(books), method: :post do %>
        <i class="fas fa-heart"></i><%= books.favorites.count %>
      <% end %>
    </td>
    <% end %>

   <td>コメント数：<%= books.book_comments.count %></td>
   </tr>











   <%end%>
  </tbody>
</table>
    </div>

</div>
</div>





